@model Drink

<div class="col-sm-4 col-lg-4 col-md-4">
    <div class="card">
        <img src="@Model.ImageThumbnailUrl" class="card-img-top" alt="" />
        <div class="card-body">
            <h5 class="card-title">@Model.Name</h5>
            <p class="card-text">@Model.ShortDescription</p>
            <h6 class="card-price">@Model.Price.ToString() €</h6>
            <a asp-controller="Drink" asp-action="Details" asp-route-drinkId="@Model.DrinkId" class="btn btn-primary">View Details</a>
            <a asp-controller="ShoppingCart" asp-action="AddToShoppingCart" asp-route-drinkId="@Model.DrinkId" class="btn btn-success">Add to Cart</a>
        </div>
    </div>
</div>
